{% extends "base.html" %}
{% block title %}&mdash; Carthage College{% endblock %}
{% block columns %}<link href="//www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
#second li {
    margin: 0;
}
li.ctrlHolder div ul li {display:inline; padding-right:3px;}
.form .blockLabels label {display: inherit;}
</style>
{% endblock %}
{% block left_nav %}
    {% include "manager/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>My Form</h1>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
{% block sidebar %}
    {% include "manager/side_bar.html" %}
{% endblock %}
